<section class="movies-shows-carousel-container">
    <div class="header-container">
        <h2>{{headerTitle}}</h2>
    </div>
    @if(moviesAndShowsArray.length != 0){
        <swiper-container class="swiper swiper-list-container list-container" #movieShowCarousel 
            [loop]=true [breakpoints]="breakpoints" [spaceBetween]="10"
        >
            @for (trendingItem of moviesAndShowsArray; track $index) {
                <swiper-slide class="list-item" #itemSlider>
                    <figure class="list-item-image-container">
                        <img src="https://image.tmdb.org/t/p/w154/{{trendingItem.poster_path}}" alt="{{trendingItem.title}}'s poster">
                    </figure>
                </swiper-slide> 
            }
        </swiper-container>
    }
</section>

<app-preview-modal #modalItem [item]="hoveredItem" [itemType]="itemType" [itemPosition]="itemPosition" [indexCount]="indexCount" [filteredGenres]="filteredGenres"></app-preview-modal>
