@import "mixins";

.footer-container{
    padding: 60px clamp(20px, px-to-vw(60px, 1920px), 60px) 25px;
    .header-container{
        display: flex;
        align-items: center;
        .logo-container{
            img{
                height: 18px;
            }
        }
        
    }
    a,p{
        font-family: 'Helvetica Neue', sans-serif;
        @include typography(10px, 0.677vw, 14px, 14px, 0.833vw, 18px);
        color : $secondary-color;
    }
}