<app-movies-shows-carousel [trendingMoviesAndShows]="trendingMoviesAndShows" headerTitle="Trending"></app-movies-shows-carousel>
<app-movies-shows-carousel [trendingMoviesAndShows]="upcomingMovies" headerTitle="Upcoming"></app-movies-shows-carousel>
<app-movies-shows-carousel [trendingMoviesAndShows]="topRatedMovies" headerTitle="Top Rated Movies of All Time"></app-movies-shows-carousel>
<app-movies-shows-carousel [trendingMoviesAndShows]="nowPlayingMovies" headerTitle="Now Playing on Theaters"></app-movies-shows-carousel>