@mixin typography($font-size-min, $font-size-preferred, $font-size-max, $line-height-min, $line-height-preferred, $line-height-max, $font-weight: null, $font-style: null) {
    font-size: clamp($font-size-min, $font-size-preferred, $font-size-max);
    line-height: clamp($line-height-min, $line-height-preferred, $line-height-max);

    @if $font-weight {
        font-weight: $font-weight;
    }

    @if $font-style {
        font-style: $font-style;
    }
}