
// Responsive Breakpoints

$breakpoint-0: 0;
$breakpoint-450: 450px;
$breakpoint-600: 600px;
$breakpoint-768: 768px;
$breakpoint-1024: 1024px;
$breakpoint-1200: 1200px;
$breakpoint-1440: 1440px;
$breakpoint-1600: 1440px;


// Color Scheme

$primary-color: #141414;
$secondary-color: #e5e5e5;

$dark1 : #181818;

$gray1 : #2f2f2f;

// Transitions
$t-out : .25s ease-out;